<div id="SearchWrapper" nz-row>
    <div nz-col nzSpan="6">
        
      </div>
  <div class="citySelect" nz-col nzSpan="5">
      <nz-select style="width: 100%;" (ngModelChange)='getdata($event)' [(ngModel)]="selectedCity" nzAllowClear nzPlaceHolder="Choose a City">
          <nz-option *ngFor="let city of cities" nzValue="{{city}}" nzLabel="{{city}}"></nz-option>
        </nz-select>
  </div>
  <div nz-col nzSpan="5" >
      <nz-input-group [nzSuffix]="suffixIconSearch">
          <input [(ngModel)]="searchText" type="text" nz-input placeholder="Search" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon type="search"></i>
        </ng-template>
  </div>
  <div nz-col nzSpan="6">
      
    </div>

    <div class="tableWrapper">
        <nz-table #basicTable [nzData]="data | search : searchText" [nzLoading]="loading">
            <thead>
              <tr>
                <th>Name</th>
                <th>Branch</th>
                <th>Ifsc</th>
                <th>City</th>
                <th>DIstrict</th>
                <th>State</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of basicTable.data">
                <td>{{ data.bank_name }}</td>
                <td>{{ data.branch }}</td>
                <td>{{ data.ifsc }}</td>
                <td>{{ data.city }}</td>
                <td>{{ data.district }}</td>
                <td>{{ data.state }}</td>
                <td>
                      <ng-template #notFav>
                          <i nz-icon class="fav" nzType="heart" (click)='setFav(data.ifsc)' nzTheme="outline"></i>
                      </ng-template>
                    <i *ngIf="checkFav(data.ifsc); else notFav" nz-icon class="fav" nzType="heart" (click)='RemoveFav(data.ifsc)' nzTheme="fill"></i>
                </td>
              </tr>
            </tbody>
          </nz-table>
    </div>
</div>